/*=========================
BOTÓN FLOTANTE WHATSAPP
=========================*/

.whatsapp-float{
    position: fixed;
    right: 20px;
    bottom: 20px;

    width: 65px;
    height: 65px;

    background: #25D366;
    color: #fff;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    font-size: 34px;

    box-shadow: 0 8px 20px rgba(0,0,0,.3);

    z-index: 9999;

    transition: .3s;
}

.whatsapp-float:hover{
    transform: scale(1.1);
    background: #20ba5a;
}

@media(max-width:768px){

.whatsapp-float{
    width:58px;
    height:58px;
    right:15px;
    bottom:15px;
    font-size:30px;
}

}

@media (max-width:768px){

.servicios,
.trabajos,
.ubicacion,
.contacto{

    padding:55px 15px;

}

.titulo-servicios,
.titulo-trabajos{

    margin-bottom:35px;

}

}


section{
    scroll-margin-top:100px;
}