/*=============================
ANIMACIÓN AL HACER SCROLL
==============================*/

.reveal{

    opacity:0;

    transform:translateY(80px);

    transition:
    opacity .9s ease,
    transform .9s ease;

}

.reveal-left{

    opacity:0;

    transform:translateX(-100px);

    transition:
    opacity .9s ease,
    transform .9s ease;

}

.reveal-right{

    opacity:0;

    transform:translateX(100px);

    transition:
    opacity .9s ease,
    transform .9s ease;

}

.reveal-scale{

    opacity:0;

    transform:scale(.85);

    transition:
    opacity .8s ease,
    transform .8s ease;

}

/* Cuando aparece */

.reveal.active,
.reveal-left.active,
.reveal-right.active,
.reveal-scale.active{

    opacity:1;

    transform:translate(0,0) scale(1);

}